<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>List</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
    <div class="container">
        {% include "main/includs/header.html" %}

        {% for item in object_list %}
        <div class="card mb-3">
  <img class="card-img-top" src="{{ item.img.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ item.headline_name }}</h5>
    <p class="card-text">{{ item.text }}</p>
    <a href="media/Ue4Project/{{ item.name }}/{{ item.name }}.html">Подробнее</a>
  </div>
            </div>
    {% endfor %}

        {% include "main/includs/footer.html" %}
    </div>



</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
</html>

