<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="container">
        {% include "main/includs/header.html" %}

        <div class="mx-auto card" style="width: 100%; height: calc(100vh - 212px);">

             <div class="mx-auto" style="width: 200px; padding-top: 50px">
    <form  action="/adminPanel/UsersList/add/" method="POST">
                {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputPassword1">Old password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">New password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="new_password">
  </div>
        <div class="form-group">
    <label for="exampleInputPassword3">Repeat password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" name="new_password_repeat">
  </div>
                {% if login_error %}
            <p style="color: red;">{{ login_error }}</p>
        {% endif %}
  <button type="submit" class="btn btn-primary mx-auto">Submit</button>
</form>
    </div>

        </div>

        {% include "main/includs/footer.html" %}
    </div>




</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
</html>